<!DOCTYPE html>
<html lang="eng" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Calculator App</title>
</head>

<body bgcolor="yellow">
    <div class="main">
        <font face="Courier" color="blue">
        <h1 align="center">Basic Calculator</h1>
        </font>
        <form action="/" method="POST" align="center">
            <input type="post" name="number1">
            <input type="post" name="number2">
            <select class="operation" name="operation">
                <option value="+">Add</option>
                <option value="-">Subtract</option>
                <option value="*">Multiply</option>
                <option value="/">Divide</option>
            </select>

            <input type="submit" name="Value!">
            <font face="Courier" color="navy">
            <h2>Value : {{value}}</h2>
            </font>

        </form>
    </div>


</body>

</<html>
    
